.creating-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2000;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    cursor: default;
}

.loader {
    width: 300px;
    height: 210px;
    background: #979794;
    box-sizing: border-box;
    position: relative;
    border-radius: 12px;
    perspective: 1500px;
    margin-bottom: 80px;
}

.loader:before {
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    border-radius: 12px;
    background: #f5f5f5 no-repeat;
    background-size: 90px 15px;
    background-image: linear-gradient(#ddd 150px, transparent 0),
        linear-gradient(#ddd 150px, transparent 0),
        linear-gradient(#ddd 150px, transparent 0),
        linear-gradient(#ddd 150px, transparent 0),
        linear-gradient(#ddd 150px, transparent 0),
        linear-gradient(#ddd 150px, transparent 0);
    background-position: 22px 45px, 22px 90px, 22px 135px,
        157px 45px, 157px 90px, 157px 135px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.loader:after {
    content: '';
    position: absolute;
    width: calc(50% - 15px);
    right: 15px;
    top: 15px;
    bottom: 15px;
    border-radius: 12px;
    background: #fff no-repeat;
    background-size: 90px 15px;
    background-image: linear-gradient(#ddd 150px, transparent 0),
        linear-gradient(#ddd 150px, transparent 0),
        linear-gradient(#ddd 150px, transparent 0);
    background-position: 50% 45px, 50% 90px, 50% 135px;
    transform: rotateY(0deg);
    transform-origin: left center;
    animation: paging 1s linear infinite;
}

@keyframes paging {
    to {
        transform: rotateY(-180deg);
    }
}

.loading {
    display: inline-block;
    position: relative;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    z-index: 2000;
    background: linear-gradient(to right, #3d7aa6, #0988e3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.loading::after {
    content: '';
    width: 8px; 
    height: 8px;
    background: currentColor;
    position: absolute;
    bottom: 8px;
    right: -5px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
}

@keyframes animloader {
    0% {
        box-shadow: 15px 0 rgba(69, 137, 133, 0), 30px 0 rgba(69, 137, 133, 0);
    }
    50% {
        box-shadow: 15px 0 #458985, 30px 0 rgba(69, 137, 133, 0);
    }
    100% {
        box-shadow: 15px 0 #458985, 30px 0 #458985;
    }
}