/* Overlay styles */
body {
  margin: 0;
    font-family: "Bree Serif", serif;
    font-style: normal;
  }
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  height: 230px;
  text-align: center;
  background-image: url("https://wallpapercave.com/wp/wp3243969.jpg");
}
.signup-btn {
  background: #56a002;
  color: #0a0a0a;
  font-size: medium;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
}
.signup-btn:hover {
  background: rgb(136, 246, 77);
}
.close-btn {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.click :hover{
  color: #0a0a0a;
}

